:root {
    --primary-green: #5cd9c3;
    --secondary-green: #ddf7f3;
    --search-bar-green: #d7f1ed;
    --primary-black: #3d3d3d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-black);
}

section {
    padding-top: 3em;
    padding-bottom: 4em;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* Helpers */
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.container {
    width: 85%;
    /* max-width: 72em; */
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
}

.border--rounded {
    border-radius: 0 12px 12px 12px;
}

.img--rounded {
    border-radius: 0 4em 4em 4em;
}

.text-green {
    color: var(--primary-green);
}

/* Navbar */
.brand {
    align-items: center;
}

.logo-icon {
    width: 50px;
    height: 50px;
    background: url(./img/icons/home.png) no-repeat;
    background-size: 100%;
}

.logo-text {
    color: var(--primary-green);
    font-weight: bold;
    margin: 1em;
}

.nav {
    justify-content: space-between;
    padding: 2em 0;
    align-items: center;
}

.nav__menu {
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    padding: 0.6em 2em;
    border: 3px solid #ffffff;
    border-radius: 0 12px 12px 12px;
    transition: border 300ms ease-in-out, background-color 300ms ease-in-out;
    color: var(--primary-black);
    font-weight: bold;
}

.nav__login,
.nav__talk {
    padding: 0.6em 2em;
    margin: 0 0.5em;
}

.nav__active,
.nav__highlight {
    background: var(--primary-green);
}

.nav__active,
.nav__highlight {
    color: #ffffff;
}

.nav__active:hover,
.nav__active:focus,
.nav__highlight:hover,
.nav__highlight:focus {
    background: #ffffff !important;
    border: 3px solid var(--primary-green);
    color: var(--primary-green) !important;
}

.nav__menu li a:hover {
    background: var(--primary-green);
    border-radius: 0 12px 12px 12px;
    color: #ffffff;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.hamburger {
    display: none;
}

.hamburger-exit {
    display: none;
    z-index: 1;
}

.fa-bars {
    color: var(--primary-black);
    font-size: 1.5rem;
}

.fa-times {
    color: var(--primary-black);
    font-size: 1.5rem;
}

/* Large Breakpoint */
@media only screen and (max-width: 1440px) {
    .nav__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
    }

    nav ul li {
        margin: 2em 0;
    }

    .hamburger {
        display: block;
    }
}

/* Section Intro */
.intro__text {
    width: 45%;
    align-self: center;
    margin-right: 2em;
}

.intro__h3 {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    letter-spacing: 0.2em;
    -webkit-line-clamp: 2;
}

.intro__h1 {
    font-size: 3.6rem;
    margin-bottom: 0.8em;
}

.intro__p {
    line-height: 2em;
}

.intro__cover {
    width: 55%;
    position: relative;
}

.logo--large {
    position: absolute;
    width: 12em;
    height: 12em;
    background: url(./img/icons/home.png) no-repeat;
    background-size: 100%;
    z-index: -1;
    opacity: 20%;
}

.logo--bottomleft {
    transform: rotate(-90deg);
    margin-top: -14em;
    margin-left: -7em;
}

.logo--topright {
    transform: rotate(-90deg);
    right: 0;
    top: 2em;
    margin-right: -6em;
}

.intro__img {
    width: auto;
}

.intro__search {
    margin-top: 5em;
}

.fa-search {
    background-color: var(--secondary-green);
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.4em 0 0 0.4em;
    color: grey;
}

.intro__input {
    font-size: 1.5em;
    background-color: var(--secondary-green);
    border: none;
    min-width: 6em;
}

.intro__input:focus {
    outline: none;
}

.intro__btn {
    padding: 0 2.4em;
    border: 3px solid var(--primary-green);
    border-radius: 0.4em;
    background: var(--primary-green);
    transition: border 300ms ease-in-out, background-color 300ms ease-in-out;
    color: #ffffff;
    font-weight: bold;
}

.intro__btn:hover {
    background: #ffffff !important;
    border: 3px solid var(--primary-green);
    color: var(--primary-green) !important;
}

/* Tablet Devices */
@media only screen and (max-width: 1024px) {
    .section__intro {
        flex-direction: column-reverse;
    }

    .intro__text {
        width: 100%;
    }

    .intro__cover {
        width: 100%;
        margin-bottom: 2em;
    }

    .intro__search {
        justify-content: center;
    }
}
